USE [master]
GO
/****** Object:  Database [QuanLySieuThi]    Script Date: 4/3/2026 9:12:01 AM ******/
CREATE DATABASE [QuanLySieuThi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLySieuThi', FILENAME = N'F:\MySQL\MSSQL17.MSSQLSERVER\MSSQL\DATA\QuanLySieuThi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLySieuThi_log', FILENAME = N'F:\MySQL\MSSQL17.MSSQLSERVER\MSSQL\DATA\QuanLySieuThi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLySieuThi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLySieuThi]
GO
/****** Object:  Table [dbo].[don_vi_van_chuyen]    Script Date: 4/3/2026 9:12:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[don_vi_van_chuyen](
	[id] [varchar](50) NOT NULL,
	[diachi] [nvarchar](255) NULL,
	[sdt] [varchar](20) NULL,
	[ten] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hoa_don_nhap]    Script Date: 4/3/2026 9:12:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hoa_don_nhap](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[gia_nhap] [float] NULL,
	[nha_cung_cap] [nvarchar](255) NULL,
	[nhan_vien] [nvarchar](100) NULL,
	[so_luong] [int] NULL,
	[ten_san_pham] [nvarchar](255) NULL,
	[thanh_tien] [float] NULL,
	[thoi_gian] [nvarchar](50) NULL,
	[van_chuyen] [nvarchar](255) NULL,
	[giaNhap] [float] NULL,
	[nhaCungCap] [nvarchar](255) NULL,
	[nhanVien] [nvarchar](100) NULL,
	[soLuong] [int] NULL,
	[tenSanPham] [nvarchar](255) NULL,
	[thanhTien] [float] NULL,
	[thoiGian] [nvarchar](50) NULL,
	[vanChuyen] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hoa_don_xuat]    Script Date: 4/3/2026 9:12:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hoa_don_xuat](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[gia_ban] [float] NULL,
	[nhan_vien] [nvarchar](100) NULL,
	[so_luong] [int] NULL,
	[ten_san_pham] [nvarchar](255) NULL,
	[thanh_tien] [float] NULL,
	[thoi_gian] [nvarchar](50) NULL,
	[giaBan] [float] NULL,
	[nhanVien] [nvarchar](100) NULL,
	[soLuong] [int] NULL,
	[tenSanPham] [nvarchar](255) NULL,
	[thanhTien] [float] NULL,
	[thoiGian] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mathang]    Script Date: 4/3/2026 9:12:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mathang](
	[id] [varchar](50) NOT NULL,
	[gia_ban] [float] NULL,
	[gia_nhap] [float] NULL,
	[ten] [nvarchar](255) NULL,
	[tonkho] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nha_cung_cap]    Script Date: 4/3/2026 9:12:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nha_cung_cap](
	[id] [varchar](50) NOT NULL,
	[diachi] [nvarchar](255) NULL,
	[sdt] [varchar](20) NULL,
	[ten] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nhanvien]    Script Date: 4/3/2026 9:12:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhanvien](
	[manv] [varchar](20) NOT NULL,
	[chucvu] [nvarchar](50) NULL,
	[gioitinh] [nvarchar](10) NULL,
	[ngaysinh] [varchar](255) NULL,
	[sdt] [varchar](15) NULL,
	[tennv] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[manv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tai_khoan]    Script Date: 4/3/2026 9:12:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tai_khoan](
	[ten_dang_nhap] [varchar](255) NOT NULL,
	[manv] [varchar](255) NULL,
	[mat_khau] [varchar](255) NULL,
	[vai_tro] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ten_dang_nhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[don_vi_van_chuyen] ([id], [diachi], [sdt], [ten]) VALUES (N'VC01', N'Hà Nội', N'0915096445', N'Bee')
INSERT [dbo].[don_vi_van_chuyen] ([id], [diachi], [sdt], [ten]) VALUES (N'VC02', N'Hà Nội', N'19002812', N'Giao Hàng Tiết Kiệm (GHTK)')
INSERT [dbo].[don_vi_van_chuyen] ([id], [diachi], [sdt], [ten]) VALUES (N'VC03', N'Hà Nội', N'19008095', N'Viettel Post')
GO
SET IDENTITY_INSERT [dbo].[hoa_don_nhap] ON 

INSERT [dbo].[hoa_don_nhap] ([id], [gia_nhap], [nha_cung_cap], [nhan_vien], [so_luong], [ten_san_pham], [thanh_tien], [thoi_gian], [van_chuyen], [giaNhap], [nhaCungCap], [nhanVien], [soLuong], [tenSanPham], [thanhTien], [thoiGian], [vanChuyen]) VALUES (1, 85000, N'Công ty CP Sữa Việt Nam (Vinamilk)', N'Nguyễn Công Tiến', 20, N'Thùng 30 gói Mì Hảo Hảo tôm chua cay', 1700000, N'08:30:50 26/3/2026', N'Bee', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[hoa_don_nhap] ([id], [gia_nhap], [nha_cung_cap], [nhan_vien], [so_luong], [ten_san_pham], [thanh_tien], [thoi_gian], [van_chuyen], [giaNhap], [nhaCungCap], [nhanVien], [soLuong], [tenSanPham], [thanhTien], [thoiGian], [vanChuyen]) VALUES (2, 26000, N'Công ty CP Sữa Việt Nam (Vinamilk)', N'Nguyễn Công Tiến', 30, N'Lốc 4 hộp Sữa tươi Vinamilk 180ml', 780000, N'08:31:03 26/3/2026', N'Bee', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[hoa_don_nhap] ([id], [gia_nhap], [nha_cung_cap], [nhan_vien], [so_luong], [ten_san_pham], [thanh_tien], [thoi_gian], [van_chuyen], [giaNhap], [nhaCungCap], [nhanVien], [soLuong], [tenSanPham], [thanhTien], [thoiGian], [vanChuyen]) VALUES (3, 160000, N'Nông sản Sạch Đà Lạt Farm', N'Nguyễn Công Tiến', 20, N'Gạo ST25 (Túi 5kg)', 3200000, N'08:31:24 26/3/2026', N'Đội xe tải nội bộ Trường Hải', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[hoa_don_nhap] OFF
GO
SET IDENTITY_INSERT [dbo].[hoa_don_xuat] ON 

INSERT [dbo].[hoa_don_xuat] ([id], [gia_ban], [nhan_vien], [so_luong], [ten_san_pham], [thanh_tien], [thoi_gian], [giaBan], [nhanVien], [soLuong], [tenSanPham], [thanhTien], [thoiGian]) VALUES (1, 32000, N'Nguyễn Hữu Tú', 20, N'Lốc 4 hộp Sữa tươi Vinamilk 180ml', 640000, N'08:32:44 26/3/2026', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[hoa_don_xuat] ([id], [gia_ban], [nhan_vien], [so_luong], [ten_san_pham], [thanh_tien], [thoi_gian], [giaBan], [nhanVien], [soLuong], [tenSanPham], [thanhTien], [thoiGian]) VALUES (2, 32000, N'Trần Thuận An', 30, N'Lốc 4 hộp Sữa tươi Vinamilk 180ml', 960000, N'08:32:55 26/3/2026', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[hoa_don_xuat] ([id], [gia_ban], [nhan_vien], [so_luong], [ten_san_pham], [thanh_tien], [thoi_gian], [giaBan], [nhanVien], [soLuong], [tenSanPham], [thanhTien], [thoiGian]) VALUES (3, 110000, N'Nguyễn Công Tiến', 10, N'Thùng 30 gói Mì Hảo Hảo tôm chua cay', 1100000, N'08:33:05 26/3/2026', NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[hoa_don_xuat] OFF
GO
INSERT [dbo].[mathang] ([id], [gia_ban], [gia_nhap], [ten], [tonkho]) VALUES (N'SP01', 110000, 85000, N'Thùng 30 gói Mì Hảo Hảo tôm chua cay', 100)
INSERT [dbo].[mathang] ([id], [gia_ban], [gia_nhap], [ten], [tonkho]) VALUES (N'SP02', 32000, 26000, N'Lốc 4 hộp Sữa tươi Vinamilk 180ml', 60)
INSERT [dbo].[mathang] ([id], [gia_ban], [gia_nhap], [ten], [tonkho]) VALUES (N'SP03', 195000, 160000, N'Gạo ST25 (Túi 5kg)', 60)
GO
INSERT [dbo].[nha_cung_cap] ([id], [diachi], [sdt], [ten]) VALUES (N'NCC01', N'TP.HCM', N'0283987654', N'Công ty CP Sữa Việt Nam (Vinamilk)')
INSERT [dbo].[nha_cung_cap] ([id], [diachi], [sdt], [ten]) VALUES (N'NCC02', N'TP.HCM', N'0283815406', N'Công ty TNHH Acecook Việt Nam')
INSERT [dbo].[nha_cung_cap] ([id], [diachi], [sdt], [ten]) VALUES (N'NCC03', N'Đà Lạt', N'0263311223', N'Nông sản Sạch Đà Lạt Farm')
GO
INSERT [dbo].[nhanvien] ([manv], [chucvu], [gioitinh], [ngaysinh], [sdt], [tennv]) VALUES (N'NV01', N'Phó Giám Đốc', N'Nam', N'2006-06-09', N'0969669696', N'Nguyễn Công Tiến')
INSERT [dbo].[nhanvien] ([manv], [chucvu], [gioitinh], [ngaysinh], [sdt], [tennv]) VALUES (N'NV02', N'Giám đốc', N'Nam', N'2006-11-01', N'0354111325', N'Nguyễn Hữu Tú')
INSERT [dbo].[nhanvien] ([manv], [chucvu], [gioitinh], [ngaysinh], [sdt], [tennv]) VALUES (N'NV03', N'Nhân viên', N'Nam', N'2006-09-06', N'0969966969', N'Trần Thuận An')
GO
INSERT [dbo].[tai_khoan] ([ten_dang_nhap], [manv], [mat_khau], [vai_tro]) VALUES (N'admin', N'NV01', N'123456', N'QuanLy')
GO
USE [master]
GO
